{
   "teams":[
	   {
		  "id":"ajil",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"b3s",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"bc",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"bojji_squad_corp",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"d3",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"deadbeef",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"flute",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"kihm",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"lata",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"les_genies",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"les_gorilles_bronzes",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"les_gros_q",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"merj",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"Mugiwara_Cook",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"royal_fortune",
		  "crewBonusRatio":0.0
	   },
	   {
		  "id":"Capitaine_Igloo",
		  "crewBonusRatio":0.0
	   }
	],
   "gameConfig":{
      "id":"WEEK13",
      "config":"D:\\Documents\\Polytech\\QGL\\qgl-engine\\git-retrieve\\..\\config\\championship\\WEEK13.json",
      "poolSize":16
   },
   "outputBumpFile":"D:\\Documents\\Polytech\\QGL\\qgl-engine\\git-retrieve\\.\\tmp\\pool-30\\output.bump"
}